
/* system status labels
================================================== */

span.ok {
    font-weight: bold;
    font-size: 110%;
    color: green; 
}

span.ko {
    font-weight: bold;
    font-size: 110%;
    color: red; 
}

textarea.system_status {
    width: 100%; 
    height: 300px;
    font-family: monospace;
    font-size: smaller;
}

button,
input[type="submit"] {
    font-size: 1em;
    margin-bottom: 0px;
    text-transform: none;
    white-space: normal; 
    height: 3em;
    padding: 5px 5px 5px 5px;
    width: 95%;
}

form {
    margin-bottom: 0;
}

div.one-third {
    height: 7em;
}

div.myfooter {
    text-align: center;
}

