[Unit]
Description=LightMedia Center main control loop daemon
After=network.target

[Service]
User=root
Group=root
ExecStart=/opt/light-media-center/bin/btmain.sh
ExecStop=/usr/bin/pkill btmain.sh
WorkingDirectory=/opt/light-media-center/bin
Type=simple

[Install]
WantedBy=multi-user.target
