[Unit]
Description=minidlna server
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/local/sbin/minidlnad -S
ProtectSystem=off
ProtectHome=off
PrivateDevices=on
NoNewPrivileges=off

[Install]
WantedBy=multi-user.target
